---
- name: Symlink dotfiles profile for Oh My Zsh
  when: 
    - ansible_os_family == "Darwin"
  block:
    - name: Symlink my dotfiles
      ansible.builtin.file:
        src: "{{ ansible_env.HOME }}/.dotfiles/.profile/{{ item }}"
        dest: "{{ ansible_env.HOME }}/{{ item }}"
        state: link
        force: true
      with_items:
        # - .zshrc
        - .gitconfig
        - .gitignore_global
        - .aliases
    - name: Symlink .config.zsh
      ansible.builtin.file:
        src: "{{ ansible_env.HOME }}/.dotfiles/zshrc/.exports"
        dest: "{{ ansible_env.HOME }}/.exports"
        state: link
        force: true
    - name: Source additional zsh files .aliases and .exports
      ansible.builtin.lineinfile:
        path: "{{ ansible_env.HOME }}/.zshrc"
        line: "[ -f ~/{{item}} ] && source {{item}}"
        insertafter: EOF
      with_items:
        - .aliases
        - .exports
