---
- name: Symlink dotfiles profile
  block:
    - name: Symlink my dotfiles
      file: src=/home/{{ user }}/.dotfiles/.profile/{{ item }}
            dest=/home/{{ user }}/{{ item }}
            state=link
            force=yes
      with_items:
        # - .vimrc
        - .zshrc
        - .gitignore
        - .gitconfig
        - .gitignore_global
        - .aliases
    - name: Symlink .config.zsh
      ansible.builtin.file: src=/home/{{ user }}/.dotfiles/zshrc/config.zsh
            dest=/home/{{ user }}/{{ item }}
            state=link
            force=yes
- name: Setup lsd dircolors
  block:
    - name: Create a directory if it does not exist
      ansible.builtin.file:
        path: /home/{{ user }}/.config/lsd
        state: directory
    - name: Symlink .dircolors
      ansible.builtin.file: src=/home/{{ user }}/.dotfiles/.profile/.dircolors
            dest=/home/{{ user }}/.config/lsd/.dircolors
            state=link
            force=yes
