---
fail_fast: false

exclude: |
  (?x)^(
      docs/_assets/.*
    # | .*\.sops\.toml
  )$

repos:
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - args:
          - --config-file
          - .github/linters/.yamllint.yaml
        id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      #   args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/sirosen/texthooks
    rev: "0.7.1"
    hooks:
      - id: fix-smartquotes
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: terraform-fmt
      - id: terraform-validate
      - id: tflint
  - repo: https://github.com/k8s-at-home/sops-pre-commit
    rev: v2.1.1
    hooks:
      - id: forbid-secrets
  - repo: https://github.com/ansible/ansible-lint
    rev: v25.8.1 # Use the desired version of ansible-lint
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$
        verbose: false
