---
- name: Configure 1Password socks
  # This is to ensure that zsh completion is initialized
  # This is useful for enabling command completion in zsh.
  # This is not needed for Alpine Linux as it does not use zsh by default.
  when:
    - ansible_os_family == "Darwin" and ansible_env.container is not defined
  block:
    - name: SSH_AUTH_SOCK
      ansible.builtin.lineinfile:
        path: "{{ ansible_env.HOME }}/.zshrc"
        regexp: '^\s*SSH_AUTH_SOCK='
        line: 'export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"'
        state: present
