- name: Installing FZF
  tags: [fzf]
  block:
    - name: Install fzf on Darwin
      community.general.homebrew:
        name: fzf
        state: latest
      when:
        - ansible_os_family == "Darwin"
    - name: FZF key bindings and fuzzy completion
      ansible.builtin.lineinfile:
        path: "{{ ansible_env.HOME }}/.zshrc"
        line: "source <(fzf --zsh)"
        insertafter: EOF
      when:
        - ansible_os_family == "Darwin"
    - name: Install fzf on "Debian"
      ansible.builtin.apt:
        name: fzf
        state: latest
      when:
        - ansible_os_family == "Ubuntu"
    - name: Ensure fzf init lines exist once in ~/.zshrc
      ansible.builtin.blockinfile:
        path: "{{ ansible_env.HOME }}/.zshrc"
        create: true
        mode: "0600"
        marker: "# {mark} ANSIBLE fzf"
        block: |
          [ -f /usr/share/doc/fzf/examples/key-bindings.zsh ] && source /usr/share/doc/fzf/examples/key-bindings.zsh
          [ -f /usr/share/doc/fzf/examples/completion.zsh ] && source /usr/share/doc/fzf/examples/completion.zsh
      when:
        - ansible_os_family == "Ubuntu"
