---
- name: For Mac OS X install iterm2
  community.general.homebrew_cask::
    name: iterm2
    state: latest
- name: Setup RH/Centos Systems
  hosts: localhost
  tasks:
    - name: Install zsh
      ansible.builtin.package:
        name: zsh
        state: present
      become: true
- name: Set user shell to zsh
  ansible.builtin.user:
    name: "{{ user }}"
    shell: /bin/zsh
  become: true

- name: Download ohmyzsh
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: "/tmp/install_ohmyzsh.sh"
    mode: '0755'

- name: Install ohmyzsh
  ansible.builtin.script:
    cmd: "/tmp/install_ohmyzsh.sh --unattended"
    failed_when: "'FAILED' in ohmyzsh_result.stderr"

- name: Install PowerLevel10K
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "/home/{{ user }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1

- name: Download NerdFonts
  ansible.builtin.get_url:
    url: https://github.com/ryanoasis/nerd-fonts/releases/download/v2.3.3/Meslo.zip
    dest: "/tmp/Meslo.zip"

- name: Install font files
  ansible.builtin.unarchive:
    src: "/tmp/Meslo.zip"
    dest: "/tmp/Meslo"

- name: Move font files to fonts directory
  ansible.builtin.copy:
    src: "/tmp/Meslo"
    dest: /usr/share/fonts/Meslo
    owner: root
  become: true

- name: Update .zshrc
  ansible.builtin.lineinfile:
    path: "/home/{{ user }}/.zshrc"
    insertafter: EOF
    line: "source /home/{{ user }}/.oh-my-zsh/custom/themes/powerlevel10k/powerlevel10k.zsh-theme"
