---
- name: Alpine container setup
  hosts: 
    - development
  gather_facts: true
  any_errors_fatal: true
  vars:
    user: "{{ ansible_user | default(lookup('env', 'USER')) | default('usma') }}"

  pre_tasks:
    - name: Ensure user variable is set
      assert:
        that:
          - user is defined
        fail_msg: "User variable could not be determined."
    - name: Print the determined ansible user
      debug:
        msg:
          - "User is {{ user }}"

  roles:
    - role: common
      common_user: "{{ user }}"
    - role: ohmyzsh
      ohmyzsh_user: "{{ user }}"
