---
- name: Alpine container setup
  hosts: local
  gather_facts: true
  any_errors_fatal: true
  vars:
    user: "{{ ansible_user | default(lookup('env', 'USER') | 'vscode') }}"
  pre_tasks:
    - name: Print the determined ansible user
      debug:
        msg: "Ansible user is {{ user }}"
  tasks:
    - name: Print the determined ansible user
      debug:
        msg: "user is {{ user }}, {{ lookup('env', 'USER') }}"
  # roles:
  #   - role: common
  #     common_user: "{{ user }}"
  #   - role: ohMyZSH
  #     ohmyzsh_user: "{{ user }}"
