---
- name: Alpine container setup
  hosts: local
  gather_facts: true
  any_errors_fatal: true
  vars:
    user: "{{ ansible_user | lookup('env', 'USER') | default('vscode') }}"

  pre_tasks:
    - name: Ensure user variable is set
      assert:
        that:
          - user is defined
        fail_msg: "User variable could not be determined."
    - name: Print the determined ansible user
      debug:
        msg:
          - "Ansible user is {{ user }}"
          - "ansible_user: {{ ansible_user | default('undefined') }}"
          - "Environment USER: {{ lookup('env', 'USER') | default('undefined') }}"

  roles:
    - role: common
      common_user: "{{ user }}"
    - role: ohMyZSH
      ohmyzsh_user: "{{ user }}"
