---
- name: Setting up mac environment
  hosts: local
  become: true
  gather_facts: true
  any_errors_fatal: true
  pre_tasks:
    - name: Ensuring Homebrew Is Installed
      ansible.builtin.stat:
        path: /usr/local/bin/brew
      register: homebrew_check
    - name: Fail If Homebrew Is Not Installed and install_homebrew_if_missing Is False
      ansible.builtin.fail:
        msg: Homebrew is missing...Install from http://brew.sh/
      when:
        - not homebrew_check.stat.exists
    - name: Update homebrew and packages
      community.general.homebrew:
        update_homebrew: true
        upgrade_all: true
      when:
        - homebrew_check.stat.exists
  roles:
    - role: osx
    - role: common
  tasks:
    # ensure sops key is loaded and placed
    # install sops
    # install 1password
    # whatsapp via appstore,magnet, facebook messenger
    # signal
    # install vscode
    # install powercalc10 and iterm2
    # install kubectl
    - name: Install osx components
      block:
        - name: Homebrew
          community.general.homebrew:
            name: "{{ item }}"
            state: present
            with_items:
              - podman
              # - multipass
        - name: Homebrew cask
          community.general.homebrew_cask:
            name: "{{ item }}"
            state: present
            with_items:
              - google-drive
              - instaloader
              - tradingview
        #brew install fluxcd/tap/flux and . <(flux completion zsh)
