---
- hosts: local
  name: Debian Playbook
  vars:
    user: "{{ ansible_user | default(lookup('env', 'USER'), True) }}"
  roles:
    - role: common
      user: "{{ ansible_user | default(lookup('env', 'USER'), True) }}"
    - role: ohMyZSH
      user: "{{ ansible_user | default(lookup('env', 'USER'), True) }}"
  pre_tasks:
    - name: Display current user
      ansible.builtin.debug:
        var: user
    - name: Check if graphical.target is active
      command: systemctl get-default
      register: target_status
      changed_when: false

    - name: Check for running display manager
      command: systemctl status display-manager
      ignore_errors: true
      register: display_manager_status
      changed_when: false

    - name: Check for X server process
      command: ps -e | grep X
      ignore_errors: true
      register: x_server_status
      changed_when: false
