---
- hosts: local
  vars:
    user: "{{ ansible_user | default(lookup('env', 'USER'), True) }}"
  roles:
    - role: common
      user: "{{ ansible_user | default(lookup('env', 'USER'), True) }}"
    - role: ohMyZSH
      user: "{{ ansible_user | default(lookup('env', 'USER'), True) }}"
  pre_tasks:
    - name: Display current user
      debug:
        var: user
